._debugger__wrapper {
    position: relative;
    display: inline-block;
}

._debugger__pre {
    text-align: left;
    margin: 0;
    top: -15px;
    position: absolute;
    z-index: 9999;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 15px;
    border-radius: 15px;
}

._debugger__pre div {
    display: inline-block;
}

._debugger__label {
    font-weight: bold;
    color: lightgreen;
    background-color: black;
    padding: 5px;
    margin: 3px;
}

._debugger__pointer {
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 5px;
    margin: 3px;
}

._debugger__var-type {
    font-weight: bold;
    color: green;
    padding: 0;
}

._debugger__output-num {
    font-weight: bold;
    color: black;
    background-color: grey;
    padding: 5px;
    margin: 3px;
}

._debugger__function-title {
    font-weight: bold;
    color: green;
}

._debugger__function-args {
    font-weight: bold;
    color: black;
    background-color: grey;
}

._debugger__dir-path {
    font-weight: bold;
    color: grey;
    padding: 5;
}